* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  height: 500px;
  background-color: rgb(183, 254, 197);
  width: 1000px;
  margin: 50px auto;
  border-radius: 10px;
  padding: 40px;
}

h1 {
  text-align: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
