/* Define grid areas */
.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

.aside1 {
  grid-area: aside1;
}

.aside2 {
  grid-area: aside2;
}

.footer {
  grid-area: footer;
}

.grid-layout {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    "header header header header"
    "nav main main aside1"
    "nav main main aside2"
    "footer footer footer footer";
}

.item {
  background-color: beige;
  border-radius: 10px;
  font-size: 30px;
}

@media screen and (max-width: 576px) {
  .grid-layout {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "aside1"
      "aside2"
      "footer";
  }
}
