.calender {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto repeat(5, 75px);
  gap: 3rem;
}

.date {
  background-color: skyblue;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.day {
  background-color: slateblue;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.other-month {
  background-color: lightgray;
}
