* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 100px repeat(4, 1fr);
  grid-template-rows: 250px 150px 200px 350px;
  gap: 3rem;
  padding: 15px;
  justify-content: center;
}

.item {
  width: 100px;
  height: 50px;
  background-color: red;
}

.sidebar {
  grid-row: 1/-1;
  height: 100%;
}

.header {
  grid-column: 2/-1;
  width: 100%;
}

.chart-one {
  grid-column: 2/4;
  width: 100%;
}
.chart-two {
  grid-column: 4/-1;
  width: 100%;
}

.overview {
  grid-column: 2/5;
  width: 100%;
}
