* {
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  height: 400px;
  margin: auto;
}

.img {
  width: 100%;
  height: 100%;
  background-image: url("./healthyfood.jpg"),
    linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(115, 114, 106, 1) 0%,
      rgba(198, 161, 36, 1) 0%,
      rgba(50, 41, 9, 1) 87%,
      rgba(0, 0, 0, 1) 100%,
      rgba(83, 88, 83, 1) 100%,
      rgba(107, 96, 80, 1) 100%,
      rgba(94, 67, 67, 1) 100%
    );
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: overlay;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
}
