h1 {
  font-size: 350%;
}

.split img {
  width: 100%;
}

.responsive {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  padding: 10px;
}

.item button {
  display: block;
  padding: 10px 20px;
  margin: 20px auto;
}
@media screen and (max-width: 576px) {
  .responsive {
    display: flex;
    flex-direction: column-reverse;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .split img {
    width: 100%;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
