/* Common Styles or Utilities */
body {
  background: #f3f1ff;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 30px;
}

/* Top PLayers Style */

.container {
  width: 870px;
  background: #ffffff;
  border-radius: 5px;
  padding: 30px;
  margin-top: 21px;
}

.top-players {
  margin-bottom: 30px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}

.player img {
  width: 56px;
  height: 56px;
}

.player {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.player-name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.section-title {
  margin-top: 3px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #562eff;
  margin-bottom: 40px;
}

/* Design the blogs part */

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 25px;
}

.thumbnail img {
  width: 177px;
  height: 117px;
}

.thumbnail-details h3 {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin: 0;
}

.thumbnail-details p {
  color: #9f9f9f;
  padding-top: 6px;
  margin: 0;
}

.thumbnail-details p span {
  color: #562eff;
}

.blog {
  display: flex;
  gap: 1rem;
  max-width: 375px;
}

/*---------
 Course Section Design
 ---------------- */
.courses {
  display: flex;
  justify-content: space-evenly;
  box-shadow: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}
.course .course-banner img {
  width: 224px;
  height: 104px;
  margin-bottom: 20px;
}
.course {
  width: 255px;
  height: 270px;
}

.course-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}

.course-duration {
  background: #ffe4e8;
  border-radius: 15px;
  padding: 5px 8px;
  color: #ff4a60;
  font-weight: 600;
}

.course-detail h3,
p {
  margin: 0;
}

.course-detail p {
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #ed6b4f;
  padding-top: 6px;
}

.fa-star {
  font-size: 12px;
}

.fa-star.filled {
  color: #ffc014;
}

.fa-star.empty {
  color: #aeaeae;
}

/*---------------
 Media Queries
 ----------------- */

/* Mobile Device */

@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .players {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .player,
  .blog {
    flex-direction: column;
  }

  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .courses {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
