/* Import the font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* default padding margin 0 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

/* Design the Navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 6.1em;
  padding-right: 6.1em;
  background-color: red;
}

nav ul {
  display: flex;
  gap: 2.1em;
}

.nav-title {
  font-weight: 700;
  font-size: 1.8em;
  line-height: 2.1em;
  font-feature-settings: "liga" off;
  color: #3a3a3a;
}

.nav-links ul li {
  font-weight: 600;
  font-size: 1em;
  line-height: 1.8em;
  font-feature-settings: "liga" off;
  color: #3a3a3a;
}

/* Design the banner section */

.btn-primary {
  background: #e02c6d;
  border-radius: 2.8em;
  border: none;
  padding: 0.8em 4em;
  color: white;
  font-size: 1.2em;
  margin-top: 1em;
}

.banner-section {
  margin-top: 3.1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-left {
  width: 582px;
  height: 270px;
}

.banner-title {
  font-weight: 700;
  font-size: 3.2em;
  line-height: 1.2em;
  color: #3a3a3a;
}

.text-desc {
  margin-top: 1em;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #3a3a3a;
}

/* Design the banner right site */

.banner-right {
  background-image: url("./images/Circle\ design.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.banner-right > img {
  margin: 1.9em 1.9em;
}

/* Design the Ecommerce Site */

.e-com {
  width: 1110px;
  height: 110px;
  margin: 0 auto;
  margin-top: 4.3em;
}

.e-com ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.e-com .div {
  width: 1110px;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
}

/* Design the Popular Collection Section */

.popular-collection {
  margin-top: 100px;
}
.section-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 70px;
  text-align: center;
  color: #3a3a3a;
  margin-bottom: 30px;
}

.container-collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 200px;
  align-items: center;
  justify-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.col-img {
  width: 300px;
  height: 256px;
  margin-bottom: 16px;
}
.col-img img {
  width: 100%;
  height: 100%;
}
.col-star {
  display: flex;
  align-items: center;
  font-size: 10px;
  gap: 10px;
}
.col-star i {
  color: goldenrod;
}

.collection {
  width: 330px;
  height: 476px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px 15px;
}

.col-info h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  font-feature-settings: "liga" off;
  color: #18191f;
  padding-bottom: 6px;
}

.col-info h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #787885;
}

.col-info p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.87);
}

.see-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: rgba(224, 44, 109, 0.87);
  position: absolute;
  right: 210px;
  cursor: pointer;
  padding: 3px;
}

/* Design the feture products */

.feture-products {
  width: 1110px;
  height: 270px;
  margin: 100px auto;
}

.fetures {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.img {
  width: 404px;
  height: 270px;
  border-radius: 7px;
}

.img > img {
  width: 100%;
  height: 100%;
}

.feture-right {
  margin-left: 100px;
}

.feture-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.feture-info h1 {
  font-weight: 700;
  font-size: 30px;
  color: #0a0826;
}

.feture-info p {
  width: 501px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #6c6c6c;
  padding-top: 16px;
}
.join {
  border: none;
  padding: 10px 24px;
  background: #e02c6d;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 25px;
}

/* Design the footer section */
footer {
  width: 100%;
  height: 30vh;
  background-color: #0a0826;
  color: white;
}

.footer-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  font-feature-settings: "liga" off;
  color: #ffffff;
  padding-bottom: 5px;
}

.footer-copy {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #d9dbe1;
}

.footer-warn {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #d9dbe1;
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 20px;
}
/* Now add the Media Query for Mobile Device */

@media screen and (max-width: 688px) {
  nav {
    display: none;
  }
  .banner-right img {
    width: 257px;
    height: 257px;
  }
  .banner-section {
    flex-direction: column-reverse;
    justify-self: center;
    align-items: center;
  }
  .banner-left {
    width: 345px;
    height: 222px;
  }
  .banner-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    color: #3a3a3a;
  }

  .text-desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    font-feature-settings: "liga" off;
    color: #3a3a3a;
  }

  .e-com {
    width: 275.21px;
    height: 61.46px;
  }

  .e-com img {
    width: 35px;
    height: 35px;
  }

  .e-com ul li {
    margin-right: 2rem;
  }

  .e-com .div {
    display: none;
  }

  .container-collections {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }

  .see-more {
    right: 8rem;
  }

  .feture-products {
    width: 100%;
    height: 100%;
  }
  .fetures {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .feture-info {
    justify-content: center;
    align-items: center;
  }
}
