.container,
.innder {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  margin: 3px;
}

.container {
  background-color: lightblue;
}

.innder {
  background-color: lightcoral;
  transform:translate(50%,50%) rotate(45deg) scale(0.50);
}
