.container,
.innder {
  width: 200px;
  height: 200px;
  border: 2px solid red;
}

.container {
  background-color: lightblue;
}

.innder {
  background-color: lightcoral;
  transform: rotate(40deg);
}
