.box {
  width: 900px;
  height: 500px;
  border: 2px solid rgb(20, 107, 42);
  margin: 10rem auto;
  position: relative;
}

.bat {
  width: 300px;
  height: 450px;
  transition: all 0.5s;
}

.bat:hover {
  transform: rotate(-60deg);
}

.ball {
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  left: 127px;
  bottom: 120px;
}
